<!DOCTYPE html>
<html>
<head>
	<title>Garmekain's little place</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>
<body>
	<div id="container">
		<div id="title"><a href="http://garmekain.github.io"><img src="img/logo.png"></a></div>
		<hr>
		<ul>
			<a href="index.html"><li>Home</li></a>
			<a href="projects.html"><li>Projects</li></a>
			<a href="blog.html"><li>Blog</li></a>
			<a href="about.html"><li>About</li></a>
		</ul>
		<hr>
		<div id="content">

			{{content}}

		</div>
		<hr>
		<footer>ASd</footer>
	</div>
</body>
</html>