<!DOCTYPE html>
<html>
<head>
	<title>Garmekain's little place</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>
<body>
	<div id="container">
		<div id="title"><a href="http://garmekain.github.io"><img src="img/logo.png"></a></div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="projects.html">Projects</a></li>
		</ul>
		<hr>
		<div id="content">
			{{content}}
		</div>
	</div>
</body>
</html>